<!-- ======= Sports Section ======= -->
<section id="team" class="team section-sport">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Sports</h2>
        </div>
        <div class="grid default-grid">
            <div class="container">
                <div class="row gutter-margin-xs-sm gutter-margin-sm-md">
                    <div class="col-xs-12">
                        <div class="row row-xs-xs sample-row">
                            {{#each sports}}
                                <div class="col-xs-6 col-sm-3 col-md-2 gutter-xs-xs gutter-margin-xs-xs text-center p-3 popover__wrapper">
                                    <div>
                                        <img src="/img/sports/{{photo}}" class="img-fluid text-center" alt="" style="width: 75px; height: 75px">
                                        <div class="inner text-center">{{name}}</div>
                                    </div>
                                    <div class="social">
                                        <i class="text-danger bi bi-pencil-fill"></i>
                                        <i class="text-danger bi bi-trash-fill"></i>
                                    </div>
                                    {{#if athletes}}
                                    <div class="popover__content">
                                        <div class="modal-area">
                                            <h5>Athletes: {{name}}</h5>
                                            <table class="table">
                                                <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">Nom</th>
                                                    <th scope="col">Prénom</th>
                                                    <th scope="col">Pays</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                 {{#each athletes}}
                                                <tr>
                                                    <td>{{firstName}}</td>
                                                    <td>{{lastName}}</td>
                                                    <td>{{country.name}}</td>
                                                    <td><i class="text-danger bi bi-trash-fill"></i></td>
                                                </tr>
                                                {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                        <button type="button" class="btn btn-danger">+</button>

                                    </div>
                                    {{/if}}
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Sports Section -->



 <!-- ======= New Sport Section ======= -->
    <section id="sport" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>New Sport</h2>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12">
            <form action="" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Sport Section -->




